@namespace "https://mpdieckmann.github.io/mpc";
@namespace html "http://www.w3.org/1999/xhtml";

html|html {
  height: 100%;
  overflow: auto;
}

html|html:after {
  content: "";
  min-height: 175px;
  height: 40%;
  max-height: 350px;
  display: block;
}

keyboard {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 175px;
  height: 40%;
  max-height: 350px;

  /* Theme */
  background: #222;
  box-shadow: 0 0 0.125em 0;
}

keyboard[hidden] input,
keyboard[hidden] theme,
keyboard[hidden] layout,
keyboard[hidden] html|caret {
  display: none;
}

keyboard[hidden] {
  min-height: 0;
  height: 40px;
  max-height: none;
}

keyboard[hidden="collapse"] {
  display: none;
}

layout {
  display: block;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

key {
  display: block;
  float: left;
  padding: 0.25em;
  text-align: center;
  line-height: 1.5em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  border: 1px solid;
  height: calc(1 / 5 * 100%);
  position: relative;

  /* Theme */
  color: #eee;
  background: #444;
  border-color: #222;
  border-radius: 0.25em;
  font-family: "Noto Serif Hebrew", "Noto Sans Phoenician", "Noto Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

key>html|small {
  display: block;
  position: absolute;
  padding: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  
  /* Theme */
  color: #bbb;
}

key[location="1"] {
  text-align: left;
}

key[location="2"] {
  text-align: right;
}

key[code="EnterTop"] {
  border-bottom-right-radius: 0;
}

key[code="EnterBottom"] {
  border-top: none;
  margin-top: -1px;
  height: calc(1 / 5 * 100% + 1px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

key[feature] {

  /* Theme */
  background: #555;
}

key[down] {

  /* Theme */
  background: #08f;
}

key[down="hold"] {

  /* Theme */
  background: #06d;
}

key[lock] {

  /* Theme */
  background: #06d;
}

key[lock="persistent"] {

  /* Theme */
  background: #048;
}

key[key=""] {
  opacity: 0.5;

  /* Theme */
  background: #444;
}

key[key=""][feature] {

  /* Theme */
  background: #555;
}

key[width="2"] {
  width: calc(2 / 30 * 100%);
  flex: 2 2 calc(2 / 30 * 100%);
}

key[width="2.25"] {
  width: calc(2.25 / 30 * 100%);
  flex: 2.25 2.25 calc(2.25 / 30 * 100%);
}

key[width="2.5"] {
  width: calc(2.5 / 30 * 100%);
  flex: 2.5 2.5 calc(2.5 / 30 * 100%);
}

key[width="3.75"] {
  width: calc(3.75 / 30 * 100%);
  flex: 3.75 3.75 calc(3.75 / 30 * 100%);
}

key[width="3"] {
  width: calc(3 / 30 * 100%);
  flex: 3 3 calc(3 / 30 * 100%);
}

key[width="4"] {
  width: calc(4 / 30 * 100%);
  flex: 4 4 calc(4 / 30 * 100%);
}

key[width="5.75"] {
  width: calc(5.75 / 30 * 100%);
  flex: 5.75 5.75 calc(5.75 / 30 * 100%);
}

key[width="11.5"] {
  width: calc(11.5 / 30 * 100%);
  flex: 11.5 11.5 calc(11.5 / 30 * 100%);
}

menus {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0004;
  z-index: 1;
}

menus:empty {
  display: none;
}

menu {
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  max-width: 90%;
  max-height: 90vh;
  transform: translateX(-50%);
  overflow: auto;
  z-index: 1;

  /* Theme */
  color: #eee;
  background: #222;
  box-shadow: 0 0 0.125em 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

menuitem {
  display: block;
  padding: 0.25em 0.25em 0.25em 3em;
  cursor: pointer;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

menuitem:hover {
  /* Theme */
  background: #333;
}

menuitem[class="active"] {
  /* Theme */
  background: #08f;
}

menuitem[class="active"]:hover {
  /* Theme */
  background: #2af;
}

menuitem>* {
  display: block;
}

menuitem>[class="menuitem-title"] {
  font-weight: bold;
}

menuitem>[class="menuitem-media"] {
  display: block;
  float: left;
  width: 2.5em;
  margin: 0 -2.75em 0 0;
  position: relative;
  left: -2.75em;
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  height: 2.5em;
}