.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid .label {
  flex: 1 1 350px;
  width: 350px;
  box-sizing: border-box;
}

.grid .label.label-submit {
  width: auto;
  flex: 0 1 auto;
  align-self: center;
}

.grid hr.flexbreak {
  display: block;
  width: 100%;
  flex: 0 0 100%;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.labelhint i {
  display: block;
  color: #666;
}